@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');
*{
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
  --primary-color:#06b6d4 ;
  --light-grey: #ddd;
  --off-white:rgb(211, 211, 211);
  box-sizing: border-box;
  overflow-y:hidden;
}
button:hover{
  cursor:pointer;
}
.login-page-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin:2rem;
  padding:2rem;
}
.login-header{
  display: flex;
  justify-content:center;
  margin: 0 0 2rem 0;
}
.login-header h1{
  
  align-self: center;
}
.login-header img{
  width:50px;
  height:50px;
  align-self: auto;
  margin-left:10px;
}

.input-box{
  padding:5px;
  margin:5px;
  font-size:12px;
  width:80%;
  align-self: center;
}
.create-note-btn{
  padding:10px;
  max-width:fit-content;
  align-self: center;
  font-size:12px;
  margin:15px;
  background-color:var(--primary-color);
  border-width:0;
  border-radius:5px;
}
.warning-box{
  font-size: 12px;
  color: grey;
  padding:5px;
  align-self: center;
}
/* outer container */
.editor-sidebar-container{
  display:flex;
  flex:horizontal;
}

/* hero-section */
.hero-section{
  background-image: linear-gradient(to right, var(--primary-color), #1f2f98);
  height:100px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-weight:400;
  box-shadow: 8px 0 8px grey;
  display: flex;
  justify-content:center;
  flex-direction:column;
  padding:10px;
  align-items: left;
}

.hero-date{
font-size:12px;

}

/* sidebar */

.sidebar-container{
  width:30%;
  border-right: 1px solid var(--light-grey);
  height:100%;
}
.sidebar-first-container{
  display:flex;
  flex-direction: horizontal;
  justify-content:space-between;
  padding: 10px 0 30px 0;
  border-bottom: 1px solid var(--light-grey);
}
.sidebar-header{
  padding:0 10px 0 10px;
}
.add-btn{
  padding:2px 4px 2px 4px;
  margin:0 10px 0 10px;
  font-size:6px;
  background-color: var(--primary-color);
  border-width:0;
  border-radius:2px;
  max-height:20px;
}
.sidebar-second-container{
  overflow-y: scroll;
  height: calc(100vh - 175px);
}
.note{
  display: flex;
  flex-direction:column;
  padding: 5px 0 5px 0;
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
}
.note:hover{
  background-color: #ddd;
  cursor: pointer;
  color:black;
}
.active {
  background: #08c;
  color: white;
}
.note-title-container{
  display:flex;
  flex-direction: horizontal;
  justify-content:space-between;
  align-items: center;
  margin-bottom:2px;

}
.note-title{
  padding:0 10px 0 10px;
  font-size: 12px;
}
.delete-btn{
  padding:4px 4px 4px 4px;
  margin:0 10px 0 10px;
  font-size:6px;
  border-radius:2px;
  border-width:0;
}
.note-preview{
  padding:0 10px 0 10px;
  font-size:10px;
  margin-block-start: 0;
  margin-block-end: 0;
}
.note-date{
  padding:0 10px 0 10px;
  font-size: 8px;
  color: grey;
}
.active-date{
  color:var(--off-white);
}
.hovered-date{
  color: grey;
}

/* editor */
.no-active-note{
  margin:100px 100px 100px 200px;
  padding:50px;
}

.editor-outer-container{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  width:70%;
}
.editor-outer-container textarea {
  display: block;
  border: 1px solid #ddd;
  width: 100%;
  padding: 10px;
  resize: none;
  font-size: 12px;
  font-family: inherit;
  margin-top:10px;
}
.editor-note-textarea:focus{
  outline:none;
}
.editor-search-box{
  padding:5px 10px 5px 10px;
}



